<!--PageTitleFmt-->
        <div id='wikititle'>
          <div class='pagegroup'><a href='http://вики-ч115.программирование-по-русски.рф/%d0%a7115'>Ч115</a> /</div>
          <h1 class='pagetitle'>Сборка</h1></div>
<!--PageText-->
<div id='wikitext'>
<p>Первоисточник: <a class='urllink' href='http://www.ocp.inf.ethz.ch/wiki/Development/Builds' rel='nofollow'>http://www.ocp.inf.ethz.ch/wiki/Development/Builds</a> (ссылка уже умерла) , но есть изменения!
</p>
<div class='vspace'></div><h2>Автоматизированная сборка от команды A2 (сборка из будущего)</h2>
<p>tools/builds - так собирают разработчики A2, но я не разбирался и навелосипедил своё. По идее, сборка там описана в makefile, там есть цель $(platform),
она открывает Release.Tool и вызывает команду Release.Build - это компиляция. Но где линковка? Я так и не понял, откуда эта сборка берёт команды линковки и мне кажется, что их там просто нет. Хотя при этом в этот makefile вносятся изменения. Поэтому команды линковки я беру из Builds.Tool, а команды компиляции описаны в Release.Tool
</p>
<div class='vspace'></div><h2>Моя сборка скриптом (современный способ)</h2>
<p>Это - современный способ сборки. Сборка частично интерактивна и наиболее удобна для разработки. Если что-то пошло не так, можно поправить прямо из 
среды сборки и перезапустить. На данный момент - <a class='urllink' href='https://gitlab.com/budden/jaos/-/blob/%d1%8f%d0%be%d1%81032/%d0%b4%d0%be%d0%ba/%d1%81%d0%b1%d0%be%d1%80%d0%ba%d0%b0-%d0%b8-%d0%b7%d0%b0%d0%bf%d1%83%d1%81%d0%ba.md' rel='nofollow'>https://gitlab.com/budden/jaos/-/blob/яос032/док/сборка-и-запуск.md</a> 
(ветка часто меняется, а вики не всегда успевает, просто смотри док в свежайших исходниках). Вопреки названию документа, описаны все виды сборке, кроме сборки под железо, которая описана рядом. 
</p>
<div class='vspace'></div><h2>Как собиралось раньше (архивная информация)</h2>
<p>Всё нижеследующее не нужно для последних версий, но сохранено, т.к. может понадобиться собрать и старые версии
</p>
<div class='vspace'></div><h3>Сценарий с помощью wsl-build</h3>
<p>Сборка была хрупкой, т.к. модифицировала директорию по всей дороге. Поэтому если ломалась посередине процесса, повторно запустить было проблематично. 
На всякий случай лучше копировать весь репозиторий целиком перед попыткой сборки. 
</p>
<p class='vspace'>Работала через wsl, и далее в нём запускаем 
</p>
<div class='vspace'></div>
<div class='sourceblock ' id='sourceblock1'>
  <div class='sourceblocktext'><div class="bash"><span class="kw2">bash</span> <span class="sy0">/</span>mnt<span class="sy0">/</span>c<span class="sy0">/</span>ob<span class="sy0">/</span>jaos<span class="sy0">/</span>WinAos<span class="sy0">/</span>wsl-build<span class="sy0">/</span>wsl-build.sh &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div></div>
  <div class='sourceblocklink'><a href='http://%d0%b2%d0%b8%d0%ba%d0%b8-%d1%87115.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/%d0%a7115/%d0%a1%d0%b1%d0%be%d1%80%d0%ba%d0%b0?action=sourceblock&amp;num=1' type='text/plain'>[&#036;[Get Code]]</a></div>
</div>

<p>Дальше всё будет написано на экране. 
</p>
<div class='vspace'></div><h3>Собираем яос0 от 2019-12-28</h3>

<div class='sourceblock ' id='sourceblock2'>
  <div class='sourceblocktext'><div class="bash"><span class="sy0">&gt;</span> <span class="kw3">cd</span> <span class="sy0">/</span>d C:\ob\jaos\winaos<br />
<span class="sy0">&gt;</span> move a2.exe a2host.exe<br />
<span class="sy0">&gt;</span> del <span class="sy0">*</span>.Dpi <span class="sy0">*</span>.Obw SystemTrace<span class="sy0">*</span>.txt<br />
<span class="sy0">&gt;</span> <span class="kw2">mkdir</span> obgn<br />
<span class="sy0">&gt;</span> REM сохраняем куда-нибудь Work\auto.dsk <br />
<span class="sy0">&gt;</span> <span class="kw2">rmdir</span> <span class="sy0">/</span>Q<span class="sy0">/</span>S Work<br />
<span class="sy0">&gt;</span> <span class="kw2">mkdir</span> Work<br />
<span class="sy0">&gt;</span> <span class="kw2">mkdir</span> Work<span class="sy0">/</span>xym<br />
<span class="sy0">&gt;</span> a2host.exe<br />
<span class="sy0">&gt;</span>A<span class="sy0">&gt;</span> PET.Open Release.Tool<br />
<span class="sy0">&gt;</span>A<span class="sy0">&gt;</span> Предполагаем, что нужная нам сборка - WinAosNewObjectFile<br />
<span class="sy0">&gt;</span>A<span class="sy0">&gt;</span> Находим её текстом и получаем команду <span class="br0">&#40;</span>подправим в ней сразу путь<span class="br0">&#41;</span>:<br />
<span class="sy0">&gt;</span> REM а тут пришлось скопировать Exclude-ы. <br />
<span class="sy0">&gt;</span>A<span class="sy0">&gt;</span> Release.Build <span class="re5">--path</span>=<span class="st0">&quot;../obgn/&quot;</span> WinAosNewObjectFile ~<br />
<span class="sy0">&gt;</span>A<span class="sy0">&gt;</span> Выскакивает файлик с командами. В нём жмём Ctrl-Enter на слове SystemTools в строке SystemTools.DoCommands<br />
<span class="sy0">&gt;</span>A<span class="sy0">&gt;</span> А потом вот такая незатейливая команда для линковки <span class="br0">&#40;</span>путь тоже поменял<span class="br0">&#41;</span><br />
<span class="sy0">&gt;</span>A<span class="sy0">&gt;</span> StaticLinker.Link <span class="re5">--fileFormat</span>=PE32 <span class="re5">--fileName</span>=A2.exe <span class="re5">--extension</span>=GofW <span class="re5">--displacement</span>=401000H <span class="re5">--path</span>=<span class="st0">&quot;../obgn/&quot;</span> Runtime Trace Kernel32 Machine Heaps Modules Objects Kernel KernelLog Streams Commands FIles WinFS Clock Dates Reals Strings Diagnostics BitSets StringPool ObjectFile GenericLinker Reflection &nbsp;GenericLoader &nbsp;BootConsole ~<br />
<span class="sy0">&gt;</span>A<span class="sy0">&gt;</span> SystemTools.PowerDown ~<br />
<span class="sy0">&gt;</span> move Work\a2.exe a2.exe<br />
<span class="sy0">&gt;</span> move Work\a2.log a2.log<br />
<span class="sy0">&gt;</span> move obg obg.old<br />
<span class="sy0">&gt;</span> move obgn obg<br />
<span class="sy0">&gt;</span> <span class="kw2">rmdir</span> <span class="sy0">/</span>Q<span class="sy0">/</span>S xym<br />
<span class="sy0">&gt;</span> <span class="kw2">mkdir</span> xym<br />
<span class="sy0">&gt;</span> move Work\xym\<span class="sy0">*</span> xym<br />
<span class="sy0">&gt;</span> a2.exe</div></div>
  <div class='sourceblocklink'><a href='http://%d0%b2%d0%b8%d0%ba%d0%b8-%d1%87115.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/%d0%a7115/%d0%a1%d0%b1%d0%be%d1%80%d0%ba%d0%b0?action=sourceblock&amp;num=2' type='text/plain'>[&#036;[Get Code]]</a></div>
</div>

<p>Теоретически дальше надо создать перекрёстные ссылки с помощью команды

TFXRef.MakeXRef "C:/ob/jaos/source/" "*Oberon*"~
, но она заведомо должна сломаться. Кроме того, идея отбирать файлы по маске всё же порочна. 
Надо, что ли, переделать, чтобы наконец уже бралось на базе конфигурации, и делалось как часть 
сборки. 
</p>
<div class='vspace'></div><h3>Собираем версию от 2016-01-05 для начала. Для неё данные из первоисточника не работают.</h3>
<ul><li>Скачиваем (клон репозитория)
</li><li>Заходим в терминале директорию WinAos
</li><li>del *.obw 
</li><li>mkdir objt
</li><li>rmdir /Q /S xym
</li><li>move aos.exe aosHost.exe
</li><li>Запускаем aosHost.exe
</li><li>Запускаем блокнот в AOS (Главное меню/Edit/Text)
</li><li>Копируем из данной вики-страницы, вставляем в блокнот (Ctrl-W) и выполняем команду:
<div class='vspace'></div>Release.Build --path="objt/" -b WinAos~
<div class='vspace'></div>для выполнения нужно нажать Ctrl-Enter, находясь внутри текста команды.
<div class='vspace'></div></li><li>То же для команды связывания: 
<div class='vspace'></div>PELinker.Link --path=objt/ Win32.Aos.Link~
<div class='vspace'></div></li><li>Выходим из системы: SystemTools.PowerDown~
</li><li>move obj obj.old
</li><li>move objt obj
</li><li>Может понадобиться повторная пересборка системы из самой себя, например, если механизм 
</li></ul><p>генерации символьных файлов поменялся. 
</p>
<div class='vspace'></div><h3>Собираем a2.exe после 2016-05-15 (новый формат объектных файлов)</h3>

<div class='sourceblock ' id='sourceblock3'>
  <div class='sourceblocktext'><div class="bash"><span class="sy0">&gt;</span> <span class="kw3">cd</span> <span class="sy0">/</span>d C:\ob\jaos\winaos<br />
<span class="sy0">&gt;</span> move a2.exe a2host.exe<br />
<span class="sy0">&gt;</span> <span class="kw2">mkdir</span> obgn<br />
<span class="sy0">&gt;</span> <span class="kw2">mkdir</span> Work<br />
<span class="sy0">&gt;</span> a2host.exe<br />
<span class="sy0">&gt;</span>A<span class="sy0">&gt;</span> PET.Open Release.Tool<br />
<span class="sy0">&gt;</span>A<span class="sy0">&gt;</span> Предполагаем, что нужная нам сборка - WinAosNewObjectFile<br />
<span class="sy0">&gt;</span>A<span class="sy0">&gt;</span> Находим её текстом и получаем команду <span class="br0">&#40;</span>подправим в ней сразу путь<span class="br0">&#41;</span>:<br />
<span class="sy0">&gt;</span>A<span class="sy0">&gt;</span> Release.Build <span class="re5">--path</span>=<span class="st0">&quot;../obgn/&quot;</span> WinAosNewObjectFile ~<br />
<span class="sy0">&gt;</span>A<span class="sy0">&gt;</span> Выскакивает файлик с командами. В нём жмём Ctrl-Enter на слове SystemTools в строке SystemTools.DoCommands<br />
<span class="sy0">&gt;</span>A<span class="sy0">&gt;</span> А потом вот такая незатейливая команда для линковки <span class="br0">&#40;</span>путь тоже поменял<span class="br0">&#41;</span><br />
<span class="sy0">&gt;</span>A<span class="sy0">&gt;</span> StaticLinker.Link <span class="re5">--fileFormat</span>=PE32 <span class="re5">--fileName</span>=A2.exe <span class="re5">--extension</span>=GofW <span class="re5">--displacement</span>=401000H <span class="re5">--path</span>=<span class="st0">&quot;../obgn/&quot;</span> Runtime Trace Kernel32 Machine Heaps Modules Objects Kernel KernelLog Streams Commands FIles WinFS Clock Dates Reals Strings Diagnostics BitSets StringPool ObjectFile GenericLinker Reflection &nbsp;GenericLoader &nbsp;BootConsole ~<br />
<span class="sy0">&gt;</span>A<span class="sy0">&gt;</span> SystemTools.PowerDown ~<br />
<span class="sy0">&gt;</span> move Work\a2.exe a2.exe<br />
<span class="sy0">&gt;</span> move obg obg.old<br />
<span class="sy0">&gt;</span> move obgn obg<br />
<span class="sy0">&gt;</span> a2.exe<br />
<span class="co0"># Создаём перекрёстные ссылки</span><br />
TFXRef.MakeXRef <span class="st0">&quot;C:/ob/jaos/source/&quot;</span> <span class="st0">&quot;*Oberon*&quot;</span>~</div></div>
  <div class='sourceblocklink'><a href='http://%d0%b2%d0%b8%d0%ba%d0%b8-%d1%87115.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/%d0%a7115/%d0%a1%d0%b1%d0%be%d1%80%d0%ba%d0%b0?action=sourceblock&amp;num=3' type='text/plain'>[&#036;[Get Code]]</a></div>
</div>

<div class='vspace'></div><h3>Для версии от 2018-11-16, SHA = 1910c44f5feffc8362de3524f7534145ce411c77</h3>
<ul><li>Скачиваем (клон репозитория)
</li><li>Заходим в Win32
</li><li>mkdir objt
</li><li>Запускаем a2.bat
</li><li>move oberon.exe oberonHost.exe
</li><li>Запускаем Shell 
</li><li>PET.Open C:/ob/A2OS/source/Release.Tool
</li><li>Там ищем WINAOS и в нём второй набор команд
</li><li>Выполняем компиляцию, линковку. 
</li><li>Выходим из системы
</li><li>Скопировать все файлы из objt в bin
</li></ul><div class='vspace'></div>
</div>
