<!--PageTitleFmt-->
        <div id='wikititle'>
          <div class='pagegroup'><a href='http://вики-ч115.программирование-по-русски.рф/%d0%a7115'>Ч115</a> /</div>
          <h1 class='pagetitle'>НекоторыеОпцииКомпилятора</h1></div>
<!--PageText-->
<div id='wikitext'>
<h3>Примеры вызовов</h3>
<p>Файл Release.Tool .
Например:
</p>
<div class='sourceblock ' id='sourceblock1'>
  <div class='sourceblocktext'><div class="c">Compiler.<span class="me1">Compile</span> <span class="sy0">--</span>define<span class="sy0">=</span>WIN<span class="sy0">,</span>I386<span class="sy0">,</span>SHAREDLIB <span class="sy0">-</span>p<span class="sy0">=</span>Win32 <span class="sy0">--</span>traceModule<span class="sy0">=</span>Trace <span class="sy0">--</span>destPath<span class="sy0">=</span>A2Dll<span class="sy0">/</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; I386.<span class="me1">Builtins</span>.<span class="me1">Mod</span> Trace.<span class="me1">Mod</span> Windows.<span class="me1">Kernel32</span>.<span class="me1">Mod</span> Windows.<span class="me1">Machine</span>.<span class="me1">Mod</span> Heaps.<span class="me1">Mod</span> Modules.<span class="me1">Mod</span><br />
&nbsp; &nbsp;</div></div>
  <div class='sourceblocklink'><a href='http://%d0%b2%d0%b8%d0%ba%d0%b8-%d1%87115.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/%d0%a7115/%d0%9d%d0%b5%d0%ba%d0%be%d1%82%d0%be%d1%80%d1%8b%d0%b5%d0%9e%d0%bf%d1%86%d0%b8%d0%b8%d0%9a%d0%be%d0%bc%d0%bf%d0%b8%d0%bb%d1%8f%d1%82%d0%be%d1%80%d0%b0?action=sourceblock&amp;num=1' type='text/plain'>[&#036;[Get Code]]</a></div>
</div>

<div class='vspace'></div><h3>Выбор фронтенда</h3>
<p>(2019-09-10)
</p>
<div class='sourceblock ' id='sourceblock2'>
  <div class='sourceblocktext'><div class="c"><span class="sy0">-</span>F<span class="sy0">=</span>Frontend<span class="sy0">,</span> по умолчанию <span class="sy0">-</span> Compiler.<span class="me1">DefaultFrontend</span> <span class="sy0">==</span> <span class="st0">'Oberon'</span></div></div>
  <div class='sourceblocklink'><a href='http://%d0%b2%d0%b8%d0%ba%d0%b8-%d1%87115.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/%d0%a7115/%d0%9d%d0%b5%d0%ba%d0%be%d1%82%d0%be%d1%80%d1%8b%d0%b5%d0%9e%d0%bf%d1%86%d0%b8%d0%b8%d0%9a%d0%be%d0%bc%d0%bf%d0%b8%d0%bb%d1%8f%d1%82%d0%be%d1%80%d0%b0?action=sourceblock&amp;num=2' type='text/plain'>[&#036;[Get Code]]</a></div>
</div>

<div class='vspace'></div><h3>Условная компиляция</h3>

<div class='sourceblock ' id='sourceblock3'>
  <div class='sourceblocktext'><div class="c"><span class="sy0">--</span>define<span class="sy0">=</span>КЛЮЧ<span class="nu0">1</span><span class="sy0">,</span>КЛЮЧ<span class="nu0">2</span></div></div>
  <div class='sourceblocklink'><a href='http://%d0%b2%d0%b8%d0%ba%d0%b8-%d1%87115.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/%d0%a7115/%d0%9d%d0%b5%d0%ba%d0%be%d1%82%d0%be%d1%80%d1%8b%d0%b5%d0%9e%d0%bf%d1%86%d0%b8%d0%b8%d0%9a%d0%be%d0%bc%d0%bf%d0%b8%d0%bb%d1%8f%d1%82%d0%be%d1%80%d0%b0?action=sourceblock&amp;num=3' type='text/plain'>[&#036;[Get Code]]</a></div>
</div>

<p class='vspace'>Используются в конструкциях 
</p>
<div class='vspace'></div>
<div class='sourceblock ' id='sourceblock4'>
  <div class='sourceblocktext'><div class="c"><span class="co2">#IF ... THEN </span><br />
<span class="co2">#ELSIF ... THEN </span><br />
<span class="co2">#ELSE </span><br />
<span class="co2">#END</span></div></div>
  <div class='sourceblocklink'><a href='http://%d0%b2%d0%b8%d0%ba%d0%b8-%d1%87115.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/%d0%a7115/%d0%9d%d0%b5%d0%ba%d0%be%d1%82%d0%be%d1%80%d1%8b%d0%b5%d0%9e%d0%bf%d1%86%d0%b8%d0%b8%d0%9a%d0%be%d0%bc%d0%bf%d0%b8%d0%bb%d1%8f%d1%82%d0%be%d1%80%d0%b0?action=sourceblock&amp;num=4' type='text/plain'>[&#036;[Get Code]]</a></div>
</div>

<div class='vspace'></div><h3>Платформа </h3>
<p>(версия 2019-09-10)
</p>
<p class='vspace'>Ключ -p=ПЛАТФОРМА, например, -p=Win32, разворачивается в целый большой набор ключей. 
Ищи вызовы DoAddPlatform для получения списка платформ и описания того, во что разворачивается
</p>
</div>
