        <div id='wikititle'>
          <div class='pagegroup'><a href='http://вики-ч115.программирование-по-русски.рф/%d0%a7115'>Ч115</a> /</div>
          <h1 class='pagetitle'>УстройствоОтладчика-WMDebugger</h1></div>
<!--PageText-->
<div id='wikitext'>
<p>Пока что см. 
</p>
<p class='vspace'><a class='urllink' href='http://%d0%b2%d0%b5%d1%87%d0%b5.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/viewtopic.php?f=5&amp;t=178&amp;p=1029#p1029' rel='nofollow'>http://вече.программирование-по-русски.рф/viewtopic.php?f=5&amp;t=178&amp;p=1029#p1029</a>
</p>
<p class='vspace'><a class='urllink' href='https://forum.oberoncore.ru/viewtopic.php?f=22&amp;t=1410#p26221' rel='nofollow'>https://forum.oberoncore.ru/viewtopic.php?f=22&amp;t=1410#p26221</a>
</p>
<div class='vspace'></div><h3>А по сути:</h3>
<ul><li>FoxAMDBackend.BohdanPC - пытается паразитировать на промежуточных результатах компиляции и создать файл Dpi
</li></ul>
</div>
