        <div id='wikititle'>
          <div class='pagegroup'><a href='http://вики-ч115.программирование-по-русски.рф/%d0%a7115'>Ч115</a> /</div>
          <h1 class='pagetitle'>УстройствоОбъектаВПамяти</h1></div>
<!--PageText-->
<div id='wikitext'>
<h1>Что такое объект</h1>
<p>В данной главе под объектом понимается нечто, что может быть записано в переменную. Например, число, массив, запись, "OBJECT". Как устроены процедуры, я сейчас не знаю, поэтому о них речь не будет идти.
</p>
<div class='vspace'></div><h1>Где может жить объект</h1>
<p>Объект может:
</p>
<div class='vspace'></div><ul><li>жить самостоятельно на куче (например, такова запись, выделенная с помощью указателя и NEW)
</li><li>находиться на стеке (например, такова локальная переменная типа запись)
</li><li>находиться в статической памяти (например, такова глобальная переменная типа запись, но не факт, что это не считается кучей).
</li><li>быть вложен в другой объект (например, запись, являющаяся элементом массива записей)
</li></ul><p class='vspace'>Чем ниже в списке, тем меньше информации можно узнать, обладая только адресом объекта.
</p>
<div class='vspace'></div><h1>Зависимость структуры объекта от места его выделения</h1>
<p>Рантайм-среда экономит ресурсы. Она создаёт полные заголовки только для объектов, созданных с помощью NEW. Поэтому структура объекта одного и того же типа может отличаться в зависимости от того, создан ли объект на куче или в другом месте (на стеке, в стат. памяти или внутри другого объекта). Обратите внимание, что если объект(гость) вложен в другой объект(хозяин) и хозяин выделен с помощью NEW, то гость, хоть и живёт на куче, но не имеет полных заголовков!
</p>
<div class='vspace'></div><h2>Данные по отрицательным смещениям</h2>
<p>Данные о типе и структуре объекта часто находятся по отрицательным смещениям относительно адреса объекта. 
</p>
<div class='vspace'></div><h2>Следствие для указателей</h2>
<p>Принципиально невозможно получить указатель на статическую запись или массив,
которые не были выделены с помощью NEW. Даже если получить такой указатель обманом с помощью ADDRESSOF, то этот указатель не будет взаимозаменяем с указателем на тот же тип, выделенный на куче. В принципе такой указатель можно было бы ввести, но он не был бы надёжным, т.к. не было бы гарантий по существованию объекта во время обращения к нему, которые имеются в случае NEW и сборщика мусора. Нужно ещё покопать на тему указателей с атрибутами UNSAFE и UNTRACED.
</p>
<div class='vspace'></div><h1>Что нужно, чтобы однозначно определить тип объекта?</h1>
<p>Для того, чтобы узнать тип объекта, достаточно одного из двух:
</p>
<div class='vspace'></div><ul><li>если к объекту приделаны метаданные, то достаточно знать его адрес
</li><li>если к объекту не приделаны метаданные, то нужен массив байт Module.refs и смещение в нём refsoffset. По этой информации можно однозначно определить тип. 
</li></ul><div class='vspace'></div><h1>Где собрана информация об устройстве объекта?</h1>
<p>Эта информация неявно присутствует в генераторе кода, компиляторе, линковщике, а также в модулях, связанных с рефлексией и отладкой. Я собрал эту информацию в модуле PodrobnajaPechatq.Mod (раньше назывался Generic.PodrobnajaPechatq.Mod), с помощью которого можно напечатать почти любой объект в деталях, но и там эта информация представлена не в слишком ясном виде. 
</p>
<p class='vspace'>Список примерно такой:
</p><ul><li>Reflection.Mod (раньше назывался Generic.Reflection.Mod)
</li><li>Heaps.Mod (структуры блоков, а также ф-ии NewArr и NewRec)
</li><li>Modules.Mod (раньше назывался Generic.Modules.Mod)
</li><li>Не всё ещё указано!
</li></ul><div class='vspace'></div><h1>Структура объектов разных видов</h1>
<h2>Структура безструктурного блока памяти</h2>
<p>Такой блок выделяется, если известно, что в нём нет подлежащих отслеживанию указателей. Он состоит из 
HeapBlockDesc и DataBlockDesc, при этом: 
</p>
<div class='vspace'></div>
<div class='sourceblock ' id='sourceblock1'>
  <div class='sourceblocktext'><div class="pascal">systemBlock<span class="sy1">.</span><span class="me1">heapBlock</span> <span class="sy1">:</span><span class="sy3">=</span> <span class="kw2">Nil</span><br />
systemBlock<span class="sy1">.</span><span class="me1">typeDesc</span> <span class="sy1">:</span><span class="sy3">=</span> systemBlockTag<span class="sy1">;</span> <span class="coMULTI">(* константа для всех таких блоков*)</span><br />
dataBlock<span class="sy1">.</span><span class="me1">typeDesc</span> <span class="sy1">:</span><span class="sy3">=</span> NilVal<span class="sy1">;</span> <span class="coMULTI">(* это намекает на то, что этот блок - именно из таких *)</span><br />
dataBlock<span class="sy1">.</span><span class="me1">heapBlock</span> <span class="sy1">:</span><span class="sy3">=</span> systemBlock<span class="sy1">;</span> <span class="coMULTI">(* а это позволяет удостовериться *)</span><br />
systemBlock<span class="sy1">.</span><span class="me1">dataAdr</span> <span class="sy1">:</span><span class="sy3">=</span> dataBlockAdr<span class="sy1">;</span><br />
systemBlock<span class="sy1">.</span><span class="me1">size</span> <span class="sy1">:</span><span class="sy3">=</span> blockSize<span class="sy1">;</span><br />
p <span class="sy1">:</span><span class="sy3">=</span> dataBlock<span class="sy1">;</span> <span class="coMULTI">(* возвращаем указатель на dataBlock (собственно на данные) *)</span></div></div>
  <div class='sourceblocklink'><a href='http://%d0%b2%d0%b8%d0%ba%d0%b8-%d1%87115.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/%d0%a7115/%d0%a3%d1%81%d1%82%d1%80%d0%be%d0%b9%d1%81%d1%82%d0%b2%d0%be%d0%9e%d0%b1%d1%8a%d0%b5%d0%ba%d1%82%d0%b0%d0%92%d0%9f%d0%b0%d0%bc%d1%8f%d1%82%d0%b8?action=sourceblock&amp;num=1' type='text/plain'>[&#036;[Get Code]]</a></div>
</div>

<div class='vspace'></div><h2>Структура массива, выделенного на куче</h2>
<p>Действуем по аналогии с записью и смотрим в исходник NewArr. Массив, 
внутри которого нет указателей, выделяется с помощью SYSTEM.NEW
и его тип нельзя узнать - это всегда просто кусок памяти без структуры.
Т.е. для его вывода нужно получить и разобрать описание его типа. 
</p>
<p class='vspace'>Если в элементе массива есть указатели, то он имеет следующую структуру:
</p>
<div class='vspace'></div>
<div class='sourceblock ' id='sourceblock2'>
  <div class='sourceblocktext'><div class="pascal"><br />
BlockHeaderSize<span class="sy3">*</span> <span class="sy3">=</span> <span class="nu0">2</span> <span class="sy3">*</span> AddressSize<span class="sy1">;</span><br />
<br />
HeapBlockDesc<span class="sy3">*</span> <span class="sy3">=</span> <span class="kw4">RECORD</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; heapBlock <span class="coMULTI">{FICTIVE =HeapBlockOffset}</span><span class="sy1">:</span> ADDRESS<span class="sy1">;</span> <br />
&nbsp; &nbsp; &nbsp; &nbsp; typeDesc <span class="coMULTI">{FICTIVE =TypeDescOffset}</span><span class="sy1">:</span> <span class="kw4">POINTER</span> <span class="coMULTI">{UNSAFE}</span> <span class="kw1">TO</span> StaticTypeDesc<span class="sy1">;</span> <br />
&nbsp; &nbsp; &nbsp; &nbsp; mark<span class="sy1">:</span> <span class="kw4">LONGINT</span><span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; dataAdr<span class="sy3">-</span><span class="sy1">:</span> ADDRESS<span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; size<span class="sy3">-</span><span class="sy1">:</span> SIZE<span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; nextMark <span class="coMULTI">{UNTRACED}</span><span class="sy1">:</span> HeapBlock<span class="sy1">;</span><br />
<span class="kw1">END</span><span class="sy1">;</span><br />
<br />
ArrayBlockDesc <span class="sy3">=</span> <span class="kw4">RECORD</span> &nbsp;<span class="br0">&#40;</span>HeapBlockDesc<span class="br0">&#41;</span><br />
<br />
DataBlockDesc<span class="sy3">*=</span> <span class="kw4">RECORD</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; heapBlock <span class="coMULTI">{FICTIVE =HeapBlockOffset}</span><span class="sy1">:</span> <span class="kw4">POINTER</span> <span class="coMULTI">{UNSAFE}</span> <span class="kw1">TO</span> HeapBlockDesc<span class="sy1">;</span> <br />
&nbsp; &nbsp; &nbsp; &nbsp; typeDesc <span class="coMULTI">{FICTIVE =TypeDescOffset}</span><span class="sy1">:</span> <span class="kw4">POINTER</span> <span class="coMULTI">{UNSAFE}</span> <span class="kw1">TO</span> StaticTypeDesc<span class="sy1">;</span><br />
<span class="kw1">END</span><span class="sy1">;</span><br />
<br />
ArrayDataBlockDesc<span class="sy3">*=</span> <span class="kw4">RECORD</span> <span class="br0">&#40;</span>DataBlockDesc<span class="br0">&#41;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; numElems<span class="sy1">:</span> SIZE<span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; current<span class="sy1">:</span> ADDRESS<span class="sy1">;</span> <span class="coMULTI">(* unused *)</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; first<span class="sy1">:</span> ADDRESS<span class="sy1">;</span><br />
<span class="kw1">END</span><span class="sy1">;</span><br />
<br />
StaticTypeDesc<span class="sy3">*</span> <span class="sy3">=</span> <span class="kw4">RECORD</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; info<span class="sy3">-</span> <span class="coMULTI">{FICTIVE =TypeDescOffset}</span><span class="sy1">:</span> TypeInfo<span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; recSize<span class="sy3">-</span><span class="sy1">:</span> SIZE<span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; pointerOffsets<span class="sy3">*</span> <span class="coMULTI">{UNTRACED}</span><span class="sy1">:</span> PointerOffsets<span class="sy1">;</span><br />
<span class="kw1">END</span><span class="sy1">;</span><br />
<br />
PointerOffsets <span class="sy3">=</span> <span class="kw4">POINTER</span> <span class="kw1">TO</span> <span class="kw4">ARRAY</span> <span class="kw1">OF</span> SIZE<span class="sy1">;</span><br />
<br />
<span class="coMULTI">(* Модуль Heaps *)</span><br />
TypeInfo<span class="sy3">*=</span> <span class="kw4">POINTER</span><span class="coMULTI">{UNSAFE}</span> <span class="kw1">TO</span> TypeInfoDesc<span class="sy1">;</span><br />
TypeInfoDesc <span class="sy3">=</span> <span class="kw4">RECORD</span> <br />
&nbsp; &nbsp; &nbsp; &nbsp; descSize<span class="sy3">-</span><span class="sy1">:</span> <span class="kw4">LONGINT</span><span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; sentinel<span class="sy3">-</span><span class="sy1">:</span> <span class="kw4">LONGINT</span><span class="sy1">;</span> &nbsp; &nbsp; <span class="coMULTI">(* = MPO-4 *)</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; tag<span class="sy3">-</span><span class="sy1">:</span> ADDRESS<span class="sy1">;</span> <span class="coMULTI">(* pointer to static type descriptor, only used by linker and loader *)</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; flags<span class="sy3">-</span><span class="sy1">:</span> <span class="kw4">SET</span><span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; mod<span class="sy3">-</span><span class="sy1">:</span> ADDRESS<span class="sy1">;</span> <span class="coMULTI">(* module; В Modules.TypeDesc имеет тип Module *)</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; <span class="kw1">name</span><span class="sy3">*</span><span class="sy1">:</span> <span class="kw4">ARRAY</span> <span class="nu0">32</span> <span class="kw1">OF</span> <span class="kw4">CHAR</span><span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; <span class="coMULTI">(* В Modules есть такой же тип Modules.TypeDesc и в нём ещё одно поле<br />
&nbsp; &nbsp; &nbsp; &nbsp; refsOffset: SIZE; *)</span><br />
<span class="kw1">END</span><span class="sy1">;</span><br />
<br />
<br />
Итого <span class="sy3">-</span> ArrayBlockDesc<span class="sy1">,</span> за ним <span class="sy3">-</span> ArrayDataBlockDesc<span class="sy1">,</span> за ним <span class="sy3">-</span> данные<br />
<span class="coMULTI">(* <br />
Начинается значение типа ArrayBlockDesc<br />
arrayBlockAdr - 2| arrayBlock.heapBlock : не инициализируем<br />
-1| arrayBlock.typeDesc == SYSTEM.TYPECODE (ArrayBlockDesc) - одинаков для всех массивов<br />
arrayBlockAdr + 0 | arrayBlock.mark - что-то для GC? <br />
1 | arrayBlock.dataAdr : ADDRESS (адрес, помеченный как dataBlockAdr)<br />
2 | arrayBlock.size - общий размер всего блока<br />
3 | arrayBlock.nextMark : HeapBlock - не инициализируем<br />
&lt;пустота - выравнивание куска от arrayBlock.heapBlock до кратного ArrayAlignment&gt; <br />
<br />
Начинается значение типа ArrayDataBlockDesc<br />
dataBlockAdr - 2 | dataBlock.heapBlock -&gt; arrayBlockAdr<br />
-1 | dataBlock.typeDesc -&gt; elemTag (ОГО!)<br />
dataBlockAdr + 0 | numElems - сюда указывает указатель на массив. <br />
1 | current(unused)<br />
2 | first -&gt; указывает на первый элемент массива (= firstElem)<br />
N | массив размерностей (вроде для обычных массивов всегда 1, даже для многомерных<br />
&lt;пустота - выравнивание куска от dataBlockAdr + 0 до кратного ArrayAlignment&gt;<br />
firstElem | начало данных, размера numElemes * elemSize<br />
*)</span></div></div>
  <div class='sourceblocklink'><a href='http://%d0%b2%d0%b8%d0%ba%d0%b8-%d1%87115.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/%d0%a7115/%d0%a3%d1%81%d1%82%d1%80%d0%be%d0%b9%d1%81%d1%82%d0%b2%d0%be%d0%9e%d0%b1%d1%8a%d0%b5%d0%ba%d1%82%d0%b0%d0%92%d0%9f%d0%b0%d0%bc%d1%8f%d1%82%d0%b8?action=sourceblock&amp;num=2' type='text/plain'>[&#036;[Get Code]]</a></div>
</div>

<div class='vspace'></div><h2>Структура записи, выделенной на куче</h2>
<p>Имеется в виду запись, выделенная с помощью NEW
</p>
<div class='sourceblock ' id='sourceblock3'>
  <div class='sourceblocktext'><div class="pascal">BlockHeaderSize<span class="sy3">*</span> <span class="sy3">=</span> <span class="nu0">2</span> <span class="sy3">*</span> AddressSize<span class="sy1">;</span><br />
HeapBlockOffset<span class="sy3">*</span> <span class="sy3">=</span> <span class="sy3">-</span> <span class="nu0">2</span> <span class="sy3">*</span> AddressSize<span class="sy1">;</span><br />
TypeDescOffset<span class="sy3">*</span> <span class="sy3">=</span> <span class="sy3">-</span> AddressSize<span class="sy1">;</span><br />
<span class="coMULTI">(* ... *)</span><br />
HeapBlock<span class="sy3">*</span> <span class="sy3">=</span> <span class="kw4">POINTER</span> <span class="kw1">TO</span> HeapBlockDesc<span class="sy1">;</span>&nbsp; <span class="coMULTI">(* base object of all heap blocks *)</span><br />
HeapBlockU <span class="sy3">=</span> <span class="kw4">POINTER</span> <span class="coMULTI">{UNSAFE}</span> <span class="kw1">TO</span> HeapBlockDesc<span class="sy1">;</span> <span class="coMULTI">(* base object of all heap blocks *)</span><br />
HeapBlockDesc<span class="sy3">*</span> <span class="sy3">=</span> <span class="kw4">RECORD</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; heapBlock <span class="coMULTI">{FICTIVE =HeapBlockOffset}</span><span class="sy1">:</span> ADDRESS<span class="sy1">;</span> <br />
&nbsp; &nbsp; &nbsp; &nbsp; typeDesc <span class="coMULTI">{FICTIVE =TypeDescOffset}</span><span class="sy1">:</span> <span class="kw4">POINTER</span> <span class="coMULTI">{UNSAFE}</span> <span class="kw1">TO</span> StaticTypeDesc<span class="sy1">;</span> <br />
&nbsp; &nbsp; &nbsp; &nbsp; mark<span class="sy1">:</span> <span class="kw4">LONGINT</span><span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; dataAdr<span class="sy3">-</span><span class="sy1">:</span> ADDRESS<span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; size<span class="sy3">-</span><span class="sy1">:</span> SIZE<span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; nextMark <span class="coMULTI">{UNTRACED}</span><span class="sy1">:</span> HeapBlock<span class="sy1">;</span><br />
<span class="kw1">END</span><span class="sy1">;</span><br />
<span class="coMULTI">(* ... *)</span><br />
RecordBlockU <span class="sy3">=</span> <span class="kw4">POINTER</span> <span class="coMULTI">{UNSAFE}</span> <span class="kw1">TO</span> RecordBlockDesc<span class="sy1">;</span><br />
RecordBlockU <span class="sy3">=</span> <span class="kw4">POINTER</span> <span class="coMULTI">{UNSAFE}</span> <span class="kw1">TO</span> RecordBlockDesc<span class="sy1">;</span><br />
RecordBlockDesc <span class="sy3">=</span> <span class="kw4">RECORD</span> &nbsp;<span class="br0">&#40;</span>HeapBlockDesc<span class="br0">&#41;</span><br />
<span class="coMULTI">(* ... *)</span><br />
DataBlockU <span class="sy3">=</span> <span class="kw4">POINTER</span> <span class="coMULTI">{UNSAFE}</span> <span class="kw1">TO</span> DataBlockDesc<span class="sy1">;</span><br />
DataBlockDesc<span class="sy3">*=</span> <span class="kw4">RECORD</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; heapBlock <span class="coMULTI">{FICTIVE =HeapBlockOffset}</span><span class="sy1">:</span> <span class="kw4">POINTER</span> <span class="coMULTI">{UNSAFE}</span> <span class="kw1">TO</span> HeapBlockDesc<span class="sy1">;</span> <br />
&nbsp; &nbsp; &nbsp; &nbsp; typeDesc <span class="coMULTI">{FICTIVE =TypeDescOffset}</span><span class="sy1">:</span> <span class="kw4">POINTER</span> <span class="coMULTI">{UNSAFE}</span> <span class="kw1">TO</span> StaticTypeDesc<span class="sy1">;</span><br />
<span class="kw1">END</span><span class="sy1">;</span><br />
<span class="coMULTI">(* Устройство записи можно выяснить из процесса её создания. Вся работа должна происходить внутри блокировки, см. Heaps.NewRec. <br />
<br />
Запись состоит из лежащих последовательно RecordBlockDesc и DataBlockDesc, но данные занимают ещё и часть адресов, меньших RecordBlockDesc<br />
(за счёт фиктивных полей RecordBlockDesc) и часть адресов, больших DataBlockDesc (собственно данные записи). Благодаря этому, <br />
по корректному адресу можно узнать, является ли он записью и узнать тип этой записи. <br />
<br />
Итого получается (для Heaps.Mod)<br />
<br />
-2| heapBlock : ADDRESS - зачем это?<br />
-1| typeDesc : POINTER TO StaticTypeDesc == SYSTEM.TYPECODE (RecordBlockDesc) - одинаков для всех записей<br />
0 | mark - что-то для GC? <br />
1 | dataAdr : ADDRESS (== +6)<br />
2 | size<br />
3 | nextMark : HeapBlock (для GC или что-то в этом роде)<br />
4 | heapBlock : POINTER TO HeapBlockDesc (позволяет по объекту найти его блок. Предположительно, == +0)<br />
5 | typeDesc : POINTER TO StaticTypeDesc == указатель на тип конкретно этой записи.<br />
6 | начало данных == указатель в рантайм-среде указывает именно на этот адрес<br />
<br />
*)</span></div></div>
  <div class='sourceblocklink'><a href='http://%d0%b2%d0%b8%d0%ba%d0%b8-%d1%87115.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/%d0%a7115/%d0%a3%d1%81%d1%82%d1%80%d0%be%d0%b9%d1%81%d1%82%d0%b2%d0%be%d0%9e%d0%b1%d1%8a%d0%b5%d0%ba%d1%82%d0%b0%d0%92%d0%9f%d0%b0%d0%bc%d1%8f%d1%82%d0%b8?action=sourceblock&amp;num=3' type='text/plain'>[&#036;[Get Code]]</a></div>
</div>

<div class='vspace'></div><h2>Структура записи, выделенной статически</h2>
<p>По сути, статически выделенная запись (например, глобальная переменная типа запись) состоит только из своих данных.
typeDesc и всего, что идёт по меньшим от него адресам, не существует, поэтому, зная только адрес объекта, узнать тип нельзя. Раньше мы обходили эту ситуацию тем, что передавали тип объекта дополнительным параметром, как-то так:
</p>
<div class='vspace'></div>
<div class='sourceblock ' id='sourceblock4'>
  <div class='sourceblocktext'><div class="pascal">r<span class="sy1">.</span><span class="me1">PechPoAdr</span><span class="br0">&#40;</span>o<span class="sy1">,</span> ADDRESS <span class="kw1">OF</span> myRecordVar<span class="sy1">,</span> SYSTEM<span class="sy1">.</span><span class="me1">TYPECODE</span><span class="br0">&#40;</span>myRecordVar<span class="br0">&#41;</span><span class="br0">&#41;</span><span class="sy1">;</span></div></div>
  <div class='sourceblocklink'><a href='http://%d0%b2%d0%b8%d0%ba%d0%b8-%d1%87115.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/%d0%a7115/%d0%a3%d1%81%d1%82%d1%80%d0%be%d0%b9%d1%81%d1%82%d0%b2%d0%be%d0%9e%d0%b1%d1%8a%d0%b5%d0%ba%d1%82%d0%b0%d0%92%d0%9f%d0%b0%d0%bc%d1%8f%d1%82%d0%b8?action=sourceblock&amp;num=4' type='text/plain'>[&#036;[Get Code]]</a></div>
</div>

<p class='vspace'>Для этого пришлось расширить TYPECODE, чтобы оно могло принимать не только имя типа, но и выражение. Тогда возвращается для типа выражения, известного во время компиляции, описание этого типа. 
</p>
<p class='vspace'>Теперь предлагается пользоваться печатью стека, к-рый понимает локальную переменную, или завести запись с полем нужного вам типа, записать данные в эту запись и напечатать её. У записи есть метаданные, которые понимает Pech.
</p>
<div class='vspace'></div><h2>SYSTEM.NEW</h2>
<p>Похоже, что SYSTEM.NEW выделяет кусок неструктурированной памяти. Предполагается, что в ней нет указателей. Кусок является блоком (HeapBlock) и помечается тегом типа systemBlockTag. Например, в таком блоке хранятся массивы, у которых в элементах нет указателей. Динамически узнать, что в таком блоке содержится, нельзя. Но, наверное, можно узнать об этом, если тип известен статически. Есть функции NewArr и NewRec, которые частично помогают понять, как работает NEW. Однако полное понимание работы NEW возможно только при понимании генерации кода. 
</p>
<div class='vspace'></div><h2>Небольшой диалог из телеграма</h2>

<div class='sourceblock ' id='sourceblock5'>
  <div class='sourceblocktext'><div class="pascal"><span class="br0">&#91;</span><span class="sy3">=</span><br />
Денис Будяк<span class="sy1">,</span> <span class="br0">&#91;</span>16<span class="sy1">.</span>05<span class="sy1">.</span>20 <span class="nu0">13</span><span class="sy1">:</span><span class="nu0">54</span><span class="br0">&#93;</span><br />
Всем привет! У меня есть значение типа ANY<span class="sy1">,</span> на самом деле это <span class="sy3">-</span> указатель на запись<span class="sy1">.</span> Я могу узнать предка типа этой записи?<br />
Я пошарил<span class="sy3">-</span>пошарил и как<span class="sy3">-</span>то не вижу<span class="sy1">,</span> как это можно сделать<span class="sy1">.</span><br />
Мой модуль отладочной печати в связи с этим выводит поля только от типа данной записи<span class="sy1">,</span> но не от предков<span class="sy1">.</span><br />
<br />
Единственный возможный вариант<span class="sy1">,</span> к<span class="sy3">-</span>рый видится <span class="sy3">-</span> это сначала определить имя типа<span class="sy1">,</span> потом парсить символьный файл<span class="sy1">,</span> находить имя предка в нём<span class="sy1">,</span> открывать тот символьный файл и т<span class="sy1">.</span>п<span class="sy1">.</span><br />
<br />
<span class="me1">Sergey</span> Durmanov<span class="sy1">,</span> <span class="br0">&#91;</span>16<span class="sy1">.</span>05<span class="sy1">.</span>20 <span class="nu0">14</span><span class="sy1">:</span><span class="nu0">10</span><span class="br0">&#93;</span><br />
<span class="br0">&#91;</span><span class="kw1">In</span> reply <span class="kw1">to</span> Денис Будяк<span class="br0">&#93;</span><br />
языковыми средствами в оберонах это сделать невозможно<br />
<br />
Денис Будяк<span class="sy1">,</span> <span class="br0">&#91;</span>16<span class="sy1">.</span>05<span class="sy1">.</span>20 <span class="nu0">14</span><span class="sy1">:</span><span class="nu0">10</span><span class="br0">&#93;</span><br />
Я не про обероны и не про языковые средства<span class="sy1">,</span> а про A2 и про внутренние средства<span class="sy1">.</span><br />
<br />
<span class="me1">Sergey</span> Durmanov<span class="sy1">,</span> <span class="br0">&#91;</span>16<span class="sy1">.</span>05<span class="sy1">.</span>20 <span class="nu0">14</span><span class="sy1">:</span><span class="nu0">10</span><span class="br0">&#93;</span><br />
все предки записи указаны в дескрипторе типа<br />
<br />
Денис Будяк<span class="sy1">,</span> <span class="br0">&#91;</span>16<span class="sy1">.</span>05<span class="sy1">.</span>20 <span class="nu0">14</span><span class="sy1">:</span><span class="nu0">13</span><span class="br0">&#93;</span><br />
Дескриптор типа <span class="sy3">-</span> это что? Есть Modules<span class="sy1">.</span><span class="me1">TypeDesc</span> <span class="sy3">-</span> там нету<br />
Есть Heaps<span class="sy1">.</span><span class="me1">StaticTypeDesc</span> <span class="sy3">-</span> там нет<br />
И есть Heaps<span class="sy1">.</span><span class="me1">TypeInfo</span> <span class="sy3">-</span> там тоже нет<br />
Есть Modules<span class="sy1">.</span><span class="me1">refs</span><span class="sy1">,</span> к<span class="sy3">-</span>рые можно как<span class="sy3">-</span>то узнать для модуля <span class="sy3">-</span> там не попалось<br />
Есть BaseTypes<span class="sy1">.</span><span class="me1">Descriptor</span> <span class="sy3">-</span> там есть<span class="sy1">.</span><br />
Но как его нарыть?<br />
<br />
Sergey Durmanov<span class="sy1">,</span> <span class="br0">&#91;</span>16<span class="sy1">.</span>05<span class="sy1">.</span>20 <span class="nu0">14</span><span class="sy1">:</span><span class="nu0">17</span><span class="br0">&#93;</span><br />
Ну так магия компилятора<span class="sy1">,</span> оно там уложено последовательно<span class="sy1">,</span> но такой структуры &nbsp;нет<br />
<br />
Sergey Durmanov<span class="sy1">,</span> <span class="br0">&#91;</span>16<span class="sy1">.</span>05<span class="sy1">.</span>20 <span class="nu0">14</span><span class="sy1">:</span><span class="nu0">17</span><span class="br0">&#93;</span><br />
<span class="br0">&#91;</span><span class="kw1">In</span> reply <span class="kw1">to</span> Денис Будяк<span class="br0">&#93;</span> Есть BaseTypes<span class="sy1">.</span><span class="me1">Descriptor</span> <span class="sy3">-</span> там есть<span class="sy1">.</span><br />
это для локфри</div></div>
  <div class='sourceblocklink'><a href='http://%d0%b2%d0%b8%d0%ba%d0%b8-%d1%87115.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/%d0%a7115/%d0%a3%d1%81%d1%82%d1%80%d0%be%d0%b9%d1%81%d1%82%d0%b2%d0%be%d0%9e%d0%b1%d1%8a%d0%b5%d0%ba%d1%82%d0%b0%d0%92%d0%9f%d0%b0%d0%bc%d1%8f%d1%82%d0%b8?action=sourceblock&amp;num=5' type='text/plain'>[&#036;[Get Code]]</a></div>
</div>

</div>
